.FollowPanel {
  width: 375px;
  @apply hidden;
  @apply desktop:block;
  @apply bg-dark;
}

.FollowPanel .tabs {
  @apply flex;
}

.FollowPanel .tabs li.active {
  @apply font-bold;
  @apply text-white;
  @apply border-white;
}

.FollowPanel .tabs li {
  @apply w-1/2;
  @apply inline;
  @apply pt-8;
  @apply pb-3;
  @apply border-b-2;
  @apply text-center;
  @apply text-base;
  @apply cursor-pointer;
  color: #929292;
  letter-spacing: 0.15px;
  border-color: #1F1F1F;
}

.FollowPanel .friendList {
  @apply px-4;
  @apply pt-8;
  @apply overflow-y-auto;
  height: calc(100vh - 70px);
}

.FollowPanel .friendList li {
  @apply mb-5;
  @apply flex;
  @apply gap-4;
}

.FollowPanel .friendList li .profile {
}

.FollowPanel .friendList li .profile img {
  @apply w-10;
  @apply h-10;
  border-radius: 5px;
  border: 1px solid #F8F8F8;
}

.FollowPanel .friendList li .name {
  @apply flex-1;
}

.FollowPanel .friendList li .button {
  @apply w-fit;
}